@media (min-width: 500px) and (min-height: 600px) {
    .globe, .clouds {
        width: 35em;
        height: 35em;
    } .Menu-list-activ {
        transform: translateY(13.5em);
    } @keyframes MenuTrans {
        from {
            transform: translateY(3.5em) translateX(-9em);
        }
        to {
            transform: translateY(13.5em) translateX(0em);
        }
    }
    .CV-Text {
        width: calc(30em + 4px);
    }
    .Mail {
        width: 25em;
    }
    .Name, .Email, .Subject {
        height: 3em;
    }
    .Message {
        height: 9em;
    }
} @media (min-width: 500px) and (max-height: 600px) {
    .CV-Text {
        width: calc(30em + 4px);
    }
    .Mail {
        width: 25em;
    }
    .Name, .Email, .Subject {
        height: 3em;
    }
    .Message {
        height: 9em;
    }
} @media (max-width: 300px) {
    .body-container {
        font-size: 0.7rem;
    }
}