/*
    ##Device = 24" Notebook
    ##Screen = B/w 1200px to 1980px
*/

@media (min-width: 1200px) and (max-width: 1980px) {

}

@media (min-width: 1200px) and (max-width: 1980px) and (orientation: landscape) {
    body, .Send {
        font-size: 1rem;
    }
    .Nick, .TextPlay{
        font-size: 2rem;
    }
    .CVText {
        font-size: 1.5rem;
    }
    .Intro, .Show, .Close, .Text, .Previous, .Next {
        font-size: 1.2rem;
    }
    .Table {
        margin-right: 1em;
        height: calc(18em + 50px);
        border: 25px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        height: 18em;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 50%;
        width: 60%;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 30%;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

/*
    ##Device = 23" Notebook
    ##Screen = B/w 1080px to 1980px
*/

@media (min-width: 1080px) and (max-width: 1980px) {
    body, .Send {
        font-size: 1rem;
    }
    .Nick, .TextPlay{
        font-size: 2rem;
    }
    .CVText {
        font-size: 1.5rem;
    }
    .Intro, .Show, .Close, .Text, .Previous, .Next {
        font-size: 1.2rem;
    }
    .Table {
        margin-right: 1em;
        height: calc(18em + 50px);
        border: 25px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        height: 18em;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 50%;
        width: 60%;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 30%;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

@media (min-width: 1080px) and (max-width: 1980px) and (orientation: landscape) {
    body, .Send {
        font-size: 1rem;
    }
    .Nick, .TextPlay{
        font-size: 2rem;
    }
    .CVText {
        font-size: 1.5rem;
    }
    .Intro, .Show, .Close, .Text, .Previous, .Next {
        font-size: 1.2rem;
    }
    .Table {
        margin-right: 1em;
        height: calc(18em + 50px);
        border: 25px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        height: 18em;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 50%;
        width: 60%;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 30%;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

/*
    ##Device = 22" Notebook
    ##Screen = B/w 1050px to 1680px
*/

@media (min-width: 1050px) and (max-width: 1680px) {
    .Table {
        margin-right: 1em;
    }
}

@media (min-width: 1050px) and (max-width: 1680px) and (orientation: landscape) {
    body, .Send {
        font-size: 1rem;
    }
    .Nick, .TextPlay{
        font-size: 2rem;
    }
    .CVText {
        font-size: 1.5rem;
    }
    .Intro, .Show, .Close, .Text, .Previous, .Next {
        font-size: 1.2rem;
    }
    .Table {
        margin-right: 1em;
        height: calc(18em + 50px);
        border: 25px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        height: 18em;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 50%;
        width: 60%;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 30%;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

/*
    ##Device = 20" Notebook
    ##Screen = B/w 900px to 1600px
*/

@media (min-width: 900px) and (max-width: 1600px) {
    .Table {
        margin-right: 1em;
    }
}

@media (min-width: 900px) and (max-width: 1600px) and (orientation: landscape) {
    body, .CVText, .Send {
        font-size: 1rem;
    }
    .Nick, .TextPlay {
        font-size: 2rem;
    }
    .Intro, .Show, .Close, .Text, .Previous, .Next {
        font-size: 1.2rem;
    }
    .Table {
        margin-right: 1em;
        height: calc(18em + 50px);
        border: 25px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        height: 18em;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 50%;
        width: 60%;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 30%;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

/*
    ##Device = 19" Notebook
    ##Screen = B/w 900px to 1440px
*/

@media (min-width: 900px) and (max-width: 1440px) {
}

@media (min-width: 900px) and (max-width: 1440px) and (orientation: landscape) {
    body, .CVText, .Send {
        font-size: 1rem;
    }
    .Nick, .TextPlay {
        font-size: 2rem;
    }
    .Intro, .Show, .Close, .Text, .Previous, .Next {
        font-size: 1.2rem;
    }
    .Table {
        margin-right: 1em;
        height: calc(18em + 50px);
        border: 25px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        height: 18em;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 50%;
        width: 60%;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 30%;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

/*
    ##Device = 15" Notebook
    ##Screen = B/w 768px to 1366px
*/

@media (min-width: 768px) and (max-width: 1366px) {
}

@media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
    body, .CVText, .Send {
        font-size: 1rem;
    }
    .Nick, .TextPlay {
        font-size: 2rem;
    }
    .Intro, .Show, .Close, .Text, .Previous, .Next {
        font-size: 1.2rem;
    }
    .Table {
        margin-right: 1em;
        height: calc(18em + 50px);
        border: 25px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        height: 18em;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 50%;
        width: 60%;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 30%;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        font-size: 1.3rem;
    }
    .Intro, .Show, .Close, .Text, .CVText, .Previous, .Next {
        font-size: 1.5rem;
    }
    .Project-options {
        margin-top: 30em;
    }
    .Nick, .TextPlay {
        font-size: 2.5rem;
    }
    .Table {
        margin-right: 1em;
        height: calc(18em + 50px);
        border: 25px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        height: 18em;
    }
    .Up {
        border-bottom: 25px solid rgb(0, 0, 0, 0.7);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }
    .dot, .MiniDot {
        border: 11px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 11px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 25px solid rgb(0, 0, 0, 0.7);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
}

/*
    ##Device = Samsung Galaxy Tab 10
    ##Screen = B/w 800px to 1280px
*/

@media (min-width: 800px) and (max-width: 1280px) {
    .Send {
        font-size: 1.2rem;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 40%;
        width: 60%;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 40%;
    }
}

@media (min-width: 800px) and (max-width: 1280px) and (orientation: landscape) {
    body {
        font-size: 1.3rem;
    }
    .Intro, .Show, .Close, .Text, .CVText, .Previous, .Next {
        font-size: 1.5rem;
    }
    .Nick, .TextPlay {
        font-size: 2.5rem;
    }
    .Table {
        width: 25em;
        height: calc(21em + 60px);
        margin-right: 1em;
        border: 30px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        width: 25em;
        height: 21em;
    }
    .halfTable {
    border-bottom: 3.5em solid transparent;
    border-left: calc(21em * 0.2 + 4px) solid rgb(0, 0, 0, 0.7);
    }
    .CardsStart, .Cards, .CardsEnd {
        line-height: 3.5em;
        height: 3.5em;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

/*
    ##Device = Tablets, Ipads
    ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .CVText, .Send, .Previous, .Next {
        font-size: 1.2rem;
    }
    .Table {
        width: 30em;
        height: calc(24em + 40px);
        border: 20px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        width: 30em;
        height: 24em;
    }
    .halfTable {
    border-bottom: 4em solid transparent;
    border-left: calc(24em * 0.2 + 4px) solid rgb(0, 0, 0, 0.7);
    }
    .CardsStart, .Cards, .CardsEnd {
        line-height: 4em;
        height: 4em;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 30%;
        width: 60%;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 40%;
    }
    .form {
        width: 30em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body {
        font-size: 1.2rem;
    }
    .Nick {
        font-size: 1.8rem;
        top: 2em;
        left: 1em;
    }
    .TextPlay {
        font-size: 2.5rem;
    }
    .Intro, .Show, .Close, .Text, .CVText, .Previous, .Next {
        font-size: 1.5rem;
    }
    .Table {
        width: 25em;
        margin-right: 1em;
        height: calc(21em + 40px);
        border: 20px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        width: 25em;
        height: 21em;
    }
    .halfTable {
    border-bottom: 3.5em solid transparent;
    border-left: calc(21em * 0.2 + 4px) solid rgb(0, 0, 0, 0.7);
    }
    .CardsStart, .Cards, .CardsEnd {
        line-height: 3.5em;
        height: 3.5em;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 60%;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
}

/*
    ##Device = Nexus 7 (portrait)
    ##Screen = B/w 600px to 960px
*/

@media (min-width: 600px) and (max-width: 960px) {
    body {
        font-size: 0.9rem;
    }
    .Nick, .TextPlay {
        font-size: 1.8rem;
    }
    .Intro, .Show, .Close, .Text {
        font-size: 1.2rem;
    }
    .Up {
        border-bottom: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    .dot, .MiniDot {
        border: 9px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 9px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 20px solid rgb(0, 0, 0, 0.7);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
}

@media (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
    body {
        font-size: 0.9rem;
    }
    .Nick, .TextPlay {
        font-size: 1.8rem;
    }
    .Intro, .Show, .Close, .Text, .CVText {
        font-size: 1.2rem;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 60%;
    }
    .form {
        width: 20em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 0.7rem;
    }
    .Nick, .TextPlay, .Text {
        font-size: 1.4rem;
    }
    .Intro, .Show, .Close {
        font-size: 1rem;
    }
    .form {
        width: 20em;
    }
    .Name, .Email, .Subject {
        height: 5em;
    }
    .Message {
        height: 10em;
    }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    body {
        font-size: 0.8rem;
    }
    .Intro, .Show, .Close {
        font-size: 1rem;
    }
    .Nick {
        font-size: 1.2rem;
        top: 2.25em;
        left: 1em;
    }
    .TextPlay {
        font-size: 1.65rem;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 60%;
    }
    .Up {
        border-bottom: 15px solid rgb(0, 0, 0, 0.7);
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }
    .dot, .MiniDot {
        border: 7px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 7px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 15px solid rgb(0, 0, 0, 0.7);
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }
    .form {
        width: 20em;
    }
    .Name, .Email, .Subject {
        height: 4em;
    }
    .Message {
        height: 8em;
    }
}

/*
    ##Device = Apple iPhone 6s Plus/7s Plus
    ##Screen = B/w 414px to 736px
*/

@media (min-width: 414px) and (max-width: 736px) {
    .Table {
        width: 30em;
        height: calc(24em + 40px);
        border: 20px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        width: 30em;
        height: 24em;
    }
    .halfTable {
    border-bottom: 4em solid transparent;
    border-left: calc(24em * 0.2 + 4px) solid rgb(0, 0, 0, 0.7);
    }
    .CardsStart, .Cards, .CardsEnd {
        line-height: 4em;
        height: 4em;
    }
    .CVText {
        font-size: 0.9rem;
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 40%;
    }
    .TextPlay {
        font-size: 2rem;
    }
}

@media (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
    body {
        font-size: 0.8rem;
    }
    .Nick, .TextPlay {
        font-size: 1.2rem;
    }
    .Intro, .Show, .Text, .Close {
        font-size: 0.9rem;
    }
    .Table {
        width: 20em;
        height: calc(18em + 20px);
        border: 10px solid rgb(0, 0, 0, 0.7);
    }
    .Play {
        width: 20em;
        height: 18em;
    }
    .CardsStart, .Cards, .CardsEnd {
        line-height: 3em;
        height: 3em;
    }
    .halfTable {
    border-bottom: 3em solid transparent;
    border-left: calc(18em * 0.2 - 2px) solid rgb(0, 0, 0, 0.7);
    }
    .CVIntroImg, .CVHomeImg, .CVSchoolImg, .CVWorkImg {
        width: 40%;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 60%;
    }
    .Name, .Email, .Subject {
        height: 3em;
    }
    .Message {
        height: 7em;
    }
}

/*
    ##Device = Apple iPhone 6/6s/7
    ##Screen = B/w 375px to 667px
*/

@media (min-width: 375px) and (max-width: 667px) {
}

@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
    body {
        font-size: 0.7rem;
    }
    .Nick {
        font-size: 1rem;
    }
    .Intro, .Show, .Text {
        font-size: 0.9rem;
    }
    .CVText {
        font-size: 0.8rem;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 60%;
    }
    .Name, .Email, .Subject {
        height: 3em;
    }
    .Message {
        height: 7em;
    }
}

/*
    ##Device = Samsung Galaxy S5/S6/S7
    ##Screen = B/w 360px to 640px but i set 599px
*/

@media (min-width: 360px) and (max-width: 499px) {
    body {
        font-size: 0.6rem;
    }
    .Nick {
        font-size: 1.2rem;
    }
    .Intro, .Show, .Text {
        font-size: 0.9rem;
    }
    .Name, .Email, .Subject {
        height: 4em;
    }
    .Message {
        height: 8em;
    }
}

@media (min-width: 360px) and (max-width: 499px) and (orientation: landscape) {
    body {
        font-size: 0.8rem;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 60%;
    }
    .Name, .Email, .Subject {
        height: 2em;
    }
    .Message {
        height: 6em;
    }
}

/*
    ##Device = Apple iPhone 5/5s
    ##Screen = B/w 320px to 568px
*/

@media (min-width: 320px) and (max-width: 568px) {
    .Name, .Email, .Subject {
        height: 3em;
    }
    .Message {
        height: 8em;
    }
}

@media (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
    body {
        font-size: 0.7rem;
    }
    .Intro, .Show, .Close {
        font-size: 0.8rem;
    }
    .Nick {
        font-size: 1rem;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 60%;
    }
    .Name, .Email, .Subject {
        height: 2em;
    }
    .Message {
        height: 6em;
    }
}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    body {
        font-size: 0.6rem;
    }
    .CVText {
        font-size: 0.7rem;
    }
    .Intro, .Show, .Close {
        font-size: 0.8rem;
    }
    .Nick, .TextPlay {
        font-size: 1.25rem;
    }
    .CVIntro, .CVHome, .CVSchool, .CVWork {
        height: 50%;
    }
    .Up {
        border-bottom: 10px solid rgb(0, 0, 0, 0.7);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
    .dot, .MiniDot {
        border: 5px solid rgb(0, 0, 0, 0.7);
    }
    .dotActiv, .MiniDotActiv {
        border: 5px solid rgb(0, 0, 0);
    }
    .Bottom {
        border-top: 10px solid rgb(0, 0, 0, 0.7);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}