*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------Body----------*/
body
{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: white;
}

.HomeBG
{
    background: url("../img/tree.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVBG
{
    background: url("../img/afternoon.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.ProjectsBG
{
    background: url("../img/mountains.svg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.ContactsBG
{
    background: url("../img/aircraft.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}
/*-------------header----------*/
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes Move
{
    from{
        margin-top: -10%;
        margin-left: -10%;
    }
    to{
        margin-top: 0;
        margin-left: 0;
    }
}

.Logo
{
    animation: Move 5s;
}

.HeadTriangle
{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 12em solid transparent;
    border-left: 12em solid rgb(0, 0, 0, 0.7);
}

.Nick
{
    position: relative;
    top: 2em;
    left: 0.25em;
    display: block;
    font-size: 2rem;
    transform: rotate(-45deg);
}

nav
{
    padding: 2em 5em;
}

ul
{
    display: flex;
    flex-flow: row;
}

li
{
    list-style-type: none;
    margin: 0 1em;
}

h2
{
    cursor: pointer;
}

main
{
    margin: auto;
}

/*-------------HOME----------*/
.Home, .CV, .Projects, .Contacts
{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

@keyframes SlowOpacityTable
{
    from {
        transform: translateX(-100%) translateY(-10%) rotate(-90deg);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Table
{
    display: flex;
    flex-flow: row wrap;
    width: 25vw;
    border: 20px solid rgb(0, 0, 0, 0.7);
    border-radius: 2em;
    margin-right: 2em;
    animation: SlowOpacityTable 4s 0s forwards;
}

.Play
{
    display: flex;
    height: 18em;
    width: 25vw;
    background-color: rgb(0, 0, 0, 0.7);
    border: 20px solid transparent;
    border-radius: 2em;
}

.TextPlay
{
    cursor: pointer;
    margin: auto;
    font-size: 2rem;
}

.halfTable
{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 3em solid transparent;
    border-left: calc(25vw * 0.2) solid rgb(0, 0, 0, 0.7);
}

.Text
{
    position: relative;
    font-size: 1.5rem;
}

.CardsStart
{
    cursor: pointer;
    flex-basis: 20%;
    height: 3em;
    background-color: green;
    border: 1px solid rgb(0, 0, 0, 0.7);
    text-align: center;
    line-height: 3em;
}

.CardsEnd
{
    cursor: pointer;
    flex-basis: 20%;
    height: 3em;
    background-color: red;
    border: 1px solid rgb(0, 0, 0, 0.7);
    text-align: center;
    line-height: 3em;
}

.Cards
{
    cursor: pointer;
    flex-basis: 20%;
    height: 3em;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.7);
}

.green
{
    background-color: green;
}

.blue
{
    background-color: blue;
}

.red
{
    background-color: red;
}

.grey
{
    background-color: rgb(201, 194, 194);
}

.Cards1
{
    opacity: 0;
    animation: FromUpToBottom 1s 1s forwards;
    background-color: green;
}

.Cards2
{
    opacity: 0;
    animation: FromUpToBottom 1s 2s forwards;
    background-color: blue;
}

.Cards3
{
    opacity: 0;
    animation: FromUpToBottom 1s 3s forwards;
    background-color: red;
}

@keyframes FromUpToBottom
{
    from{
        height: 0;
        opacity: 0;
    }

    to{
        height: -100%;
        opacity: 1;
    }
}

@keyframes SlowOpacityIntro
{
    from {
        transform: translateX(100%) rotate(90deg);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Intro
{
    width: 25vw;
    margin-left: 2em;
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
    animation: SlowOpacityIntro 4s 0s forwards;
}
/*-------------CV----------*/
@keyframes Opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.CVIntro, .CVHome, .CVSchool, .CVWork
{
    animation: Opacity 2s 0s forwards;
    display: flex;
    flex-direction: row;
    width: 75vw;
    height: 20em;
    padding: 2em;
    border-radius: 1em;
    background-color: rgb(0, 0, 0, 0.7);
}

.CVChange
{
    animation: Opacity 2s 0s forwards;
    width: 5vw;
    margin-right: 1em;
}

.Up
{
    cursor: pointer;
    height: 0;
    width: 0;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 15px solid rgb(0, 0, 0, 0.7);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}

.Up:active
{
    border-bottom-color: black;
}

.dot
{
    width: 0;
    height: 0;
    margin: 0.5em auto;
    border: 10px solid rgb(0, 0, 0, 0.7);
    border-radius: 100%;
}

.dotActiv
{
    width: 0;
    height: 0;
    margin: 0.5em auto;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 100%;
}

.Bottom
{
    cursor: pointer;
    height: 0;
    width: 0;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border-top: 15px solid rgb(0, 0, 0, 0.7);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}

.Bottom:active
{
    border-top-color: black;
}

.CVIntroImg
{
    background: url("../img/2547.JPG") no-repeat;
    background-position: center;
    background-size: cover;
    width: 15vw;
}

.CVHomeImg1
{
    background: url("../img/murowana.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVHomeImg2
{
    background: url("../img/prischool.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVSchoolImg1
{
    background: url("../img/zsl.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVSchoolImg2
{
    background: url("../img/wsl.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVWorkImg1
{
    background: url("../img/tele.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVWorkImg2
{
    background: url("../img/mag.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVWorkImg3
{
    background: url("../img/press.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVHomeImg, .CVSchoolImg, .CVWorkImg
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-position: center;
    background-size: cover;
    width: 15vw;
}

.MiniDot
{
    cursor: pointer;
    width: 0;
    height: 0;
    margin: 0.1em;
    margin-top: auto;
    border: 10px solid rgb(0, 0, 0, 0.7);
    border-radius: 100%;
}

.MiniDotActiv
{
    width: 0;
    height: 0;
    margin: 0.1em;
    margin-top: auto;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 100%;
}

.CVText
{
    width: 60vw;
    text-align: justify;
    margin-left: 2em;
}
/*-------------Projects----------*/

.off
{
    display: none;
}
