*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------Body----------*/
body
{
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    color: white;
}

.HomeBG
{
    background: url("../img/tree.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVBG
{
    background: url("../img/afternoon.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.ProjectsBG
{
    background: url("../img/lib.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.ContactsBG
{
    background: url("../img/aircraft.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}
/*-------------header----------*/
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes Move
{
    from{
        margin-top: -10%;
        margin-left: -10%;
    }
    to{
        margin-top: 0;
        margin-left: 0;
    }
}

.Logo
{
    animation: Move 5s;
}

.HeadTriangle
{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10em solid transparent;
    border-left: 10em solid rgb(0, 0, 0, 0.7);
}

.Nick
{
    position: relative;
    cursor: default;
    top: 1.5em;
    display: block;
    font-size: 1rem;
    transform: rotate(-45deg);
}

nav
{
    padding: 1em;
}

ul
{
    display: flex;
    flex-flow: row;
}

li
{
    list-style-type: none;
    margin: 0 1em;
}

h2
{
    cursor: pointer;
}

main
{
    margin: auto;
}

/*-------------HOME----------*/
.Home, .CV, .Projects
{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

@keyframes SlowOpacityTable
{
    from {
        transform: translateX(-100%) translateY(-10%) rotate(-90deg);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Table
{
    display: flex;
    flex-flow: row wrap;
    width: 20em;
    border: 10px solid rgb(0, 0, 0, 0.7);
    border-radius: 2em;
    animation: SlowOpacityTable 4s 0s forwards;
}

.Play
{
    display: flex;
    height: 18em;
    width: 20em;
    background-color: rgb(0, 0, 0, 0.7);
    border: 10px solid transparent;
    border-radius: 2em;
}

.TextPlay
{
    cursor: pointer;
    margin: auto;
    font-size: 1rem;
}

.halfTable
{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 3em solid transparent;
    border-left: calc(20em * 0.2 - 10px) solid rgb(0, 0, 0, 0.7);
}

.Text
{
    position: relative;
    font-size: 0.75rem;
}

.CardsStart
{
    cursor: pointer;
    flex-basis: 20%;
    height: 3em;
    background-color: green;
    border: 1px solid rgb(0, 0, 0, 0.7);
    text-align: center;
    line-height: 3em;
}

.CardsEnd
{
    cursor: pointer;
    flex-basis: 20%;
    height: 3em;
    background-color: red;
    border: 1px solid rgb(0, 0, 0, 0.7);
    text-align: center;
    line-height: 3em;
}

.Cards
{
    cursor: pointer;
    flex-basis: 20%;
    height: 3em;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.7);
}

.green
{
    background-color: green;
}

.blue
{
    background-color: blue;
}

.red
{
    background-color: red;
}

.grey
{
    background-color: rgb(201, 194, 194);
}

.Cards1
{
    opacity: 0;
    animation: FromUpToBottom 1s 1s forwards;
    background-color: green;
}

.Cards2
{
    opacity: 0;
    animation: FromUpToBottom 1s 2s forwards;
    background-color: blue;
}

.Cards3
{
    opacity: 0;
    animation: FromUpToBottom 1s 3s forwards;
    background-color: red;
}

@keyframes FromUpToBottom
{
    from{
        height: 0;
        opacity: 0;
    }

    to{
        height: -100%;
        opacity: 1;
    }
}

@keyframes SlowOpacityIntro
{
    from {
        transform: translateX(100%) rotate(90deg);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Intro
{
    width: 20em;
    font-size: 0.65rem;
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
    animation: SlowOpacityIntro 4s 0s forwards;
}

.Show
{
    font-size: 0.65rem;
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
    margin-top: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 2em;
}

.Close
{
    cursor: pointer;
    color: white;
    height: 0.8em;
    line-height: 0;
    padding: 0.8em 0.5em;
    border: none;
    border-radius: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    animation: SlowOpacityTable 4s 0s forwards;
}
/*-------------CV----------*/
@keyframes Opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.CVIntro, .CVHome, .CVSchool, .CVWork
{
    width: 30em;
    height: 20em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(0, 0, 0, 0.7);
    animation: Opacity 2s 0s forwards;
}

.CVChange
{
    animation: Opacity 2s 0s forwards;
    margin: auto 1em auto 0;
}

.Up
{
    cursor: pointer;
    height: 0;
    width: 0;
    margin-bottom: 1em;
    border-bottom: 10px solid rgb(0, 0, 0, 0.7);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.Up:active
{
    border-bottom-color: black;
}

.dot
{
    width: 0;
    height: 0;
    margin: 0.5em auto;
    border: 5px solid rgb(0, 0, 0, 0.7);
    border-radius: 100%;
}

.dotActiv
{
    width: 0;
    height: 0;
    margin: 0.5em auto;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
}

.Bottom
{
    cursor: pointer;
    height: 0;
    width: 0;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border-top: 10px solid rgb(0, 0, 0, 0.7);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.Bottom:active
{
    border-top-color: black;
}

.CVIntroImg
{
    background: url("../img/2547.JPG") no-repeat;
    background-position: top center;
    background-size: 150% 150%;
    width: 12.5em;
}

.CVHomeImg1
{
    background: url("../img/murowana.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVHomeImg2
{
    background: url("../img/prischool.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVSchoolImg1
{
    background: url("../img/zsl.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVSchoolImg2
{
    background: url("../img/wsl.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVWorkImg1
{
    background: url("../img/tele.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVWorkImg2
{
    background: url("../img/mag.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVWorkImg3
{
    background: url("../img/press.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVHomeImg, .CVSchoolImg, .CVWorkImg
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-position: top center;
    background-size: cover;
    width: 12.5em;
}

.MiniDot
{
    cursor: pointer;
    width: 0;
    height: 0;
    margin: 0.1em;
    margin-top: auto;
    border: 5px solid rgb(0, 0, 0, 0.7);
    border-radius: 100%;
}

.MiniDotActiv
{
    width: 0;
    height: 0;
    margin: 0.1em;
    margin-top: auto;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
}

.CVText
{
    width: 60vw;
    text-align: justify;
    overflow: scroll;
    margin-left: 1em;
}
/*-------------Projects----------*/
.Shelf
{
    width: 20em;
    height: 30em;
}

.book
{
    position: relative;
    perspective-origin: 100% 100%;
    transform-style: preserve-3d;
    perspective: 30em;
}

.b-1
{
    transform: rotateX(-5deg);
}

.b-2
{
    transform: rotateX(-5deg) translateX(3.5em);
}

.b-3
{
    transform: rotateX(-5deg) translateX(7em);
}

.b-4
{
    transform: rotateX(-5deg) translateX(10.5em);
}

.b-5
{
    transform: rotateX(-5deg) translateX(14em);
}

.b-6
{
    transform: rotateX(-5deg) translateX(17.5em);
}

.b-7
{
    transform: rotateX(-5deg) translateX(21em);
}

.b-8
{
    transform: rotateX(-5deg) translateX(24.5em);
}

.b-1:hover
{
    animation: b-1-move 800ms forwards;
}

.b-2:hover
{
    animation: b-2-move 800ms forwards;
}

.b-3:hover
{
    animation: b-3-move 800ms forwards;
}

.b-4:hover
{
    animation: b-4-move 800ms forwards;
}

.b-5:hover
{
    animation: b-5-move 800ms forwards;
}

.b-6:hover
{
    animation: b-6-move 800ms forwards;
}

.b-7:hover
{
    animation: b-7-move 800ms forwards;
}

.b-8:hover
{
    animation: b-8-move 800ms forwards;
}

@keyframes b-1-move
{
    0% {
        transform: rotateX(-5deg);
    }
    100% {
        transform: rotateX(-30deg) translate3d(-0.5em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes b-2-move
{
    0% {
        transform: rotateX(-5deg) translateX(3.5em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(3em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes b-3-move
{
    0% {
        transform: rotateX(-5deg) translateX(7em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(6.5em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes b-4-move
{
    0% {
        transform: rotateX(-5deg) translateX(10.5em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(10em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes b-5-move
{
    0% {
        transform: rotateX(-5deg) translateX(14em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(13.5em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes b-6-move
{
    0% {
        transform: rotateX(-5deg) translateX(17.5em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(17em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes b-7-move
{
    0% {
        transform: rotateX(-5deg) translateX(21em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(20.5em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes b-8-move
{
    0% {
        transform: rotateX(-5deg) translateX(24.5em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(24em, -0.2em, 0) scaleY(1.1);
    }
}

.book-pos
{
    display: block;
    position: absolute;
}

.front
{
    width: 3em;
    height: 25em;
    background-color: #03031B;
    transform: translateZ(3em);
}

.Spine
{
    font-family: cursive;
    margin: 2em auto;
    writing-mode: vertical-rl;
}

.right
{
    width: 6em;
    height: 25em;
    transform: rotateY(90deg);
}

.top
{
    width: 3em;
    height: 6em;
    background-color: #F0FAC7;
    transform: rotateX(90deg) translateZ(3em);
}

#Project1
{
    background: url("../img/Site_Fifa.jpg") no-repeat;
    background-size: 150% 150%;
}

#Project2
{
    background: url("../img/Site_Schools.jpg") no-repeat;
    background-size: 150% 150%;
}

#Project3
{
    background: url("../img/Site_WeeklyOne.jpg") no-repeat;
    background-size: 150% 150%;
}

#Project4
{
    background: url("../img/Site_WeeklyTwo.jpg") no-repeat;
    background-size: 150% 150%;
}

#Project5
{
    background: url("../img/Site_WeeklyThree.jpg") no-repeat;
    background-size: 150% 150%;
}

#Project6
{
    background: url("../img/Site_WeeklyFour.jpg") no-repeat;
    background-size: 150% 150%;
}

#Project7
{
    background: url("../img/Site_WeeklyEleven.jpg") no-repeat;
    background-size: 150% 150%;
}

#Project8
{
    background: url("../img/Site_Angular.jpg") no-repeat;
    background-size: 150% 150%;
}
/*-------------Contacts----------*/

.Mail, .Data
{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1em;
    border-radius: 2em;
    background-color: rgb(0, 0, 0, 0.2);
}

.form
{
    width: 15em;
    padding-left: 1em;
    margin: .25em 0;
    color: white;
    border-radius: 1em;
    border: none;
    background-color: rgb(0, 0, 0, 0.4);
}

.form:focus
{
    outline: none;
}

.Name, .Email, .Subject
{
    height: 3em;
}

.Message
{
    height: 6em;
}

.Send
{
    width: 40%;
    font-size: 0.5rem;
    color: white;
    border-radius: 2em;
    border: none;
    background-color: rgb(9, 128, 15);
}

.Send:active
{
    background-color: rgb(0, 0, 0, 0.4);
}

.Facebook, .Github, .Linkedin
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
}

img
{
    height: 3em;
    width: 3em;
}

a
{
    height: 3em;
    width: 3em;
    color: white;
    text-decoration: none;
}

.off
{
    display: none;
}
