*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-size: 1rem;
    color: white;
}

.Home
{
    background: url("../img/tree.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 14em;
}

@keyframes Opacity
{
    from{
        margin-top: -10%;
        margin-left: -10%;
    }
    to{
        margin-top: 0;
        margin-left: 0;
    }
}

.Logo
{
    animation-name: Opacity;
    animation-duration: 5s;
}

.HeadTriangle
{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 12em solid transparent;
    border-left: 12em solid rgb(0, 0, 0, 0.7);
}

.Nick
{
    position: relative;
    top: 2em;
    left: 0.25em;
    display: block;
    font-size: 2rem;
    transform: rotate(-45deg);
}

nav
{
    padding: 2em 5em;
}

li
{
    list-style-type: none;
}

h2
{
    cursor: pointer;
}

.Content
{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.Table
{
    display: flex;
    flex-flow: row wrap;
    width: calc(25vw + 39px);
    border: 20px solid rgb(0, 0, 0, 0.7);
    border-radius: 2em;
    margin-right: 2em;
}

.Play
{
    display: flex;
    height: 18em;
    width: 25vw;
    background-color: rgb(0, 0, 0, 0.7);
    border: 20px solid transparent;
    border-radius: 2em;
}

.TextPlay
{
    cursor: pointer;
    margin: auto;
    font-size: 2rem;
}

.halfTable
{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 3em solid transparent;
    border-left: calc(25vw * 0.2) solid rgb(0, 0, 0, 0.7);
}

.Text
{
    position: relative;
    font-size: 1.5rem;
}

.CardsStart
{
    cursor: pointer;
    flex-basis: 20%;
    height: 3em;
    background-color: green;
    border: 1px solid rgb(0, 0, 0, 0.7);
    text-align: center;
    line-height: 3em;
}

.CardsEnd
{
    cursor: pointer;
    flex-basis: 20%;
    height: 3em;
    background-color: red;
    border: 1px solid rgb(0, 0, 0, 0.7);
    text-align: center;
    line-height: 3em;
}

.Cards
{
    cursor: pointer;
    flex-basis: 20%;
    height: 3em;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.7);
}

.green
{
    background-color: green;
}

.blue
{
    background-color: blue;
}

.red
{
    background-color: red;
}

.grey
{
    background-color: rgb(201, 194, 194);
}

.Cards1
{
    opacity: 0;
    animation: FromUptoBottom 1s 1s forwards;
    background-color: green;
}

.Cards2
{
    opacity: 0;
    animation: FromUptoBottom 1s 2s forwards;
    background-color: blue;
}

.Cards3
{
    opacity: 0;
    animation: FromUptoBottom 1s 3s forwards;
    background-color: red;
}

@keyframes FromUptoBottom
{
    from{
        height: 0;
        opacity: 0;
    }

    to{
        height: -100%;
        opacity: 1;
    }
}

.off
{
    display: none;
}

.Intro
{
    width: 25vw;
    margin-left: 2em;
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
}

.Home2
{
    background: url("../img/mountains.svg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}