* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    font-size: 0.7rem;
}
/*-------------HEADER----------*/
.header-container {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212020;
    transition: 300ms linear;
}

.header-logo {
    height: 20em;
    width: 20em;
}

.console-text {
    margin: 0.25em 3em;
    text-align: center;
}

.header-social {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.Facebook, .Github, .Linkedin {
    margin: 0.5em;
    width: 1.25em;
    height: 1.25em;
}

.Facebook-img, .Github-img, .Linkedin-img {
    width: 1.25em;
    height: 1.25em;
}

.console-underscore {
    animation: Opa .6s infinite;
}

@keyframes Opa {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.Skip {
    position: fixed;
    cursor: pointer;
    margin: 1em;
    top: 0;
    right: 0;
    color: white;
    background-color: red;
    padding: 0.25em 1em;
    border: none;
    border-radius: 1em;
}

.mini {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 8em;
    width: 8em;
    margin-left: 2em;
    background-color: #383737;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.Menu {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*---------Main-----------*/
.main-container {
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    color: white;
	text-shadow: 1px 1px 1px black, 2px 2px 2px black;
    background-color: #212020;
}

.Top, .Bottom {
    cursor: pointer;
    top: 0;
}

.Top-img, .Bottom-img {
    width: 5em;
    height: 5em;
}
/*-------------HOME----------*/
.Home {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
	text-shadow: 1px 1px 1px black, 2px 2px 2px black;
    background: url("../img/Home-container.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
    padding: 10em 2em;
}

.Home-Intro {
    width: 20em;
    margin: 1em;
    text-align: justify;
}

.Home-Game {
    margin: 1em;
}

.Table {
    display: flex;
    flex-flow: row wrap;
    width: 25em;
    height: calc(24em + 29px);
    border: 15px solid rgb(0, 0, 0, 0.7);
    border-radius: 2em;
}

.Play {
    display: flex;
    height: calc(24em - 1px);
    width: 25em;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 2em;
}

.TextPlay {
    cursor: pointer;
    margin: auto;
}

.CardsStart {
    cursor: pointer;
    flex-basis: 20%;
    height: 4em;
    background: url("../img/Start.jpg") no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgb(0, 0, 0);
}

.CardsEnd {
    cursor: pointer;
    flex-basis: 20%;
    height: 4em;
    background: url("../img/End.jpg") no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgb(0, 0, 0);
}

.Cards {
    cursor: pointer;
    flex-basis: 20%;
    height: 4em;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.grey {
    background-color: rgb(201, 194, 194);
}

.Cards1 {
    opacity: 0;
    animation: FromUpToBottom 1s 1s forwards;
    background-color: green;
}

.Cards2 {
    opacity: 0;
    animation: FromUpToBottom 1s 2s forwards;
    background-color: blue;
}

.Cards3 {
    opacity: 0;
    animation: FromUpToBottom 1s 3s forwards;
    background-color: red;
}

@keyframes FromUpToBottom {
    from{
        height: 0;
        opacity: 0;
    }

    to{
        height: -100%;
        opacity: 1;
    }
}
/*-------------CV----------*/
.CV {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
	text-shadow: 1px 1px 1px black, 2px 2px 2px black;
    background: url("../img/CV-container.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
    padding: 10em 2em;
}

.CV-Intro, .CV-Home, .CV-School, .CV-Work {
    text-align: justify;
}

.CV-Photo-item {
    position: absolute;
}

.CV-Photo {
    position: relative;
    width: calc(18em + 4px);
    height: calc(20em + 4px);
    margin: auto;
    border: 2px solid #212020;
    background-color: white;
}

.CV-Photo-img {
    width: 18em;
    height: 20em;
    padding: 1em;
}

.CV-Text {
    margin: 2em 0;
}
/*-------------Projects:Carousel----------*/
.Projects {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
	text-shadow: 1px 1px 1px black, 2px 2px 2px black;
    background: url("../img/Projects-container.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
    padding: 15em 2em;
}

.Carousel {
    height: 15em;
    perspective: 90em;
    transform: translateX(-7em);
    transform-style: preserve-3d;
}

.block {
    position: absolute;
    width: 12em;
    height: 13em;
    transition: transform 1s;
}

.block:nth-child(1) {
    transform: rotateY(0) translateZ(14em);
}

.block:nth-child(2) {
    transform: rotateY(51.42deg) translateZ(14em);
}

.block:nth-child(3) {
    transform: rotateY(102.84deg) translateZ(14em);
}

.block:nth-child(4) {
    transform: rotateY(154.26deg) translateZ(14em);
}

.block:nth-child(5) {
    transform: rotateY(205.68deg) translateZ(14em);
}

.block:nth-child(6) {
    transform: rotateY(257.1deg) translateZ(14em);
}

.block:nth-child(7) {
    transform: rotateY(308.52deg) translateZ(14em);
}
/*-------------Projects:Shelf----------------*/
.Shelf {
    width: 6em;
    height: 28em;
    animation: FromUpToBottom 4s 0s forwards;
}

.book {
    position: relative;
    perspective: 30em;
    perspective-origin: 100% 100%;
    transform-style: preserve-3d;
}

.book-pos {
    display: block;
    position: absolute;
}

.front {
    width: 2.75em;
    height: 25em;
    background-color: #03031B;
    transform: translateZ(2.85em);
}

.right {
    width: 5.75em;
    height: 25em;
    transform: rotateY(90deg) translateZ(-0.15em);
}

.top {
    width: 2.75em;
    height: 5.75em;
    background-color: #F0FAC7;
    transform: rotateX(90deg) translateZ(2.85em);
}

.Spine {
    color: white;
    font-family: cursive;
    margin: 2em auto;
    writing-mode: vertical-rl;
}

.book-1:hover {
    animation: book-hover-1-move 800ms forwards;
}

.book-2:hover {
    animation: book-hover-2-move 800ms forwards;
}

.book-3:hover {
    animation: book-hover-3-move 800ms forwards;
}

.book-4:hover {
    animation: book-hover-4-move 800ms forwards;
}

.book-5:hover {
    animation: book-hover-5-move 800ms forwards;
}

.book-6:hover {
    animation: book-hover-6-move 800ms forwards;
}

.book-7:hover {
    animation: book-hover-7-move 800ms forwards;
}

.book-1 {
    transform: rotateX(-5deg) translateX(-7.7em);
}

.book-2 {
    transform: rotateX(-5deg) translateX(-4.45em);
}

.book-3 {
    transform: rotateX(-5deg) translateX(-1.2em);
}

.book-4 {
    transform: rotateX(-5deg) translateX(2.05em);
}

.book-5 {
    transform: rotateX(-5deg) translateX(5.25em);
}

.book-6 {
    transform: rotateX(-5deg) translateX(8.55em);
}

.book-7 {
    transform: rotateX(-5deg) translateX(11.75em);
}

@keyframes book-hover-1-move {
    0% {
        transform: rotateX(-5deg) translateX(-7.7em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(-8.2em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes book-hover-2-move {
    0% {
        transform: rotateX(-5deg) translateX(-4.45em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(-4.95em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes book-hover-3-move {
    0% {
        transform: rotateX(-5deg) translateX(-1.2em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(-1.7em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes book-hover-4-move {
    0% {
        transform: rotateX(-5deg) translateX(2.05em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(1.55em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes book-hover-5-move {
    0% {
        transform: rotateX(-5deg) translateX(5.25em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(4.75em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes book-hover-6-move {
    0% {
        transform: rotateX(-5deg) translateX(8.55em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(8.05em, -0.2em, 0) scaleY(1.1);
    }
}

@keyframes book-hover-7-move {
    0% {
        transform: rotateX(-5deg) translateX(11.75em);
    }
    100% {
        transform: rotateX(-30deg) translate3d(11.25em, -0.2em, 0) scaleY(1.1);
    }
}

.Project1 {
    background: url("../img/Site_Fifa.jpg") no-repeat;
    background-size: cover;
}

.Project2 {
    background: url("../img/Site_WeeklyOne.jpg") no-repeat;
    background-size: cover;
}

.Project3 {
    background: url("../img/Site_WeeklyTwo.jpg") no-repeat;
    background-size: cover;
}

.Project4 {
    background: url("../img/Site_WeeklyThree.jpg") no-repeat;
    background-size: cover;
}

.Project5 {
    background: url("../img/Site_WeeklyFour.jpg") no-repeat;
    background-size: cover;
}

.Project6 {
    background: url("../img/Site_WeeklyEleven.jpg") no-repeat;
    background-size: cover;
}

.Project7 {
    background: url("../img/Site_Angular.jpg") no-repeat;
    background-size: cover;
}

.Project-options {
    background-color: rgb(0, 0, 0, 0.6);
    margin-top: 5em;
    border-radius: 2em;
}

.Carousel-options, .Carousel-change, .Project-change {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.Previous, .Next {
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 0.5em;
    border: none;
    border-radius: 2em;
}

.Checkpoint {
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    border: 4px solid rgb(82, 81, 81);
    background-color: rgb(0, 0, 0);
}

.CheckpointActiv {
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    border: 4px solid rgb(82, 81, 81);
    background-color: rgba(241, 11, 11);
}
/*-------------Contacts----------*/
.Contacts {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
	text-shadow: 1px 1px 1px black, 2px 2px 2px black;
    background: url("../img/Contacts-container.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.Mail {
    width: 25em;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em;
    border-radius: 2em;
    background-color: rgb(0, 0, 0, 0.2);
    animation: Opacity 2s 0s forwards;
}

.form {
    color: white;
    padding-left: 1em;
    margin: .25em 0;
    border-radius: 1em;
    border: none;
    background-color: rgb(0, 0, 0, 0.4);
}

.form:focus {
    outline: none;
}

.Name, .Email, .Subject {
    height: 2em;
}

.Message {
    height: 8em;
}

.Send {
    width: 40%;
    color: white;
    border-radius: 2em;
    border: none;
    background-color: rgb(9, 128, 15);
}

.Send:active {
    background-color: rgb(0, 0, 0, 0.4);
}

.ArtMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(25em);
}

.Menu {
    position: absolute;
    transform: translateX(-10em);
}

.Menu-list {
    list-style-type: none;
}

.Menu-list-Text {
    display: inline;
    cursor: pointer;
    font-size: 5rem;
}

.small {
    width: 50em;
    height: 30em;
}

.off {
    display: none;
}