* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------Body----------*/
body {
    font-size: 0.6rem;
    color: black;
}
/*-------------header----------*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

ul, .Data {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

nav {
    padding: 1em;
}

li {
    list-style-type: none;
    margin: 0 1em;
}

h1 {
    cursor: pointer;
}

.Facebook, .Github, .Linkedin {
    margin: 1em;
    width: 3em;
    height: 3em;
}

img {
    width: 3em;
    height: 3em;
}

main {
    margin: 0 2em;
}
/*-------------HOME----------*/
.Home {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 5em 0;
}

@keyframes SlowOpacityIntro {
    from {
        transform: translateX(100%) translateY(10%) rotate(90deg);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes SlowOpacityTable {
    from {
        transform: translateX(-100%) translateY(-10%) rotate(-90deg);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Intro {
    width: 20em;
    margin: 1em;
    text-align: justify;
    animation: SlowOpacityIntro 4s 0s forwards;
}

.Game {
    margin: 1em;
}

.Table {
    display: flex;
    flex-flow: row wrap;
    width: 25em;
    height: calc(24em + 29px);
    border: 15px solid rgb(0, 0, 0, 0.7);
    border-radius: 2em;
    animation: SlowOpacityTable 4s 0s forwards;
}

.Play {
    display: flex;
    height: calc(24em - 1px);
    width: 25em;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 2em;
}

.TextPlay {
    cursor: pointer;
    margin: auto;
    font-size: 1.5rem;
}

.CardsStart {
    cursor: pointer;
    flex-basis: 20%;
    height: 4em;
    background: url("../img/Start.jpg") no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgb(0, 0, 0, 0.7);
}

.CardsEnd {
    cursor: pointer;
    flex-basis: 20%;
    height: 4em;
    background: url("../img/End.jpg") no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgb(0, 0, 0, 0.7);
}

.Cards {
    cursor: pointer;
    flex-basis: 20%;
    height: 4em;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.7);
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.grey {
    background-color: rgb(201, 194, 194);
}

.Cards1 {
    opacity: 0;
    animation: FromUpToBottom 1s 1s forwards;
    background-color: green;
}

.Cards2 {
    opacity: 0;
    animation: FromUpToBottom 1s 2s forwards;
    background-color: blue;
}

.Cards3 {
    opacity: 0;
    animation: FromUpToBottom 1s 3s forwards;
    background-color: red;
}

@keyframes FromUpToBottom {
    from{
        height: 0;
        opacity: 0;
    }

    to{
        height: -100%;
        opacity: 1;
    }
}
/*-------------CV----------*/
.CV {
    margin: 5em 0;
}

.Up {
    cursor: pointer;
    height: 0;
    width: 0;
    margin-left: 1em;
    border-right: 20px solid rgb(0, 0, 0, 0.7);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.Up:active {
    border-right-color: black;
}

.dot {
    cursor: pointer;
    width: 0;
    height: 0;
    margin: 0 .5em;
    border: 10px solid rgb(0, 0, 0, 0.7);
    border-radius: 100%;
}

.dotActiv {
    width: 0;
    height: 0;
    margin: 0 .5em;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 100%;
}

.Bottom {
    cursor: pointer;
    height: 0;
    width: 0;
    margin-right: 1em;
    border-left: 20px solid rgb(0, 0, 0, 0.7);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.Bottom:active {
    border-left-color: black;
}

.CVIntroImg {
    background: url("../img/2547.JPG") no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    height: 25em;
    width: 100%;
}

.CVHomeImg1 {
    background: url("../img/murowana.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVHomeImg2 {
    background: url("../img/prischool.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVSchoolImg1 {
    background: url("../img/zsl.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVSchoolImg2 {
    background: url("../img/wsl.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVWorkImg1 {
    background: url("../img/tele.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVWorkImg2 {
    background: url("../img/mag.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVWorkImg3 {
    background: url("../img/press.jpg") no-repeat;
    transition: all 0.7s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.CVHomeImg, .CVSchoolImg, .CVWorkImg {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-position: top center;
    background-size: cover;
    height: 25em;
    width: 100%;
}

.MiniDot {
    cursor: pointer;
    width: 0;
    height: 0;
    margin: 0.1em;
    border: 10px solid rgb(0, 0, 0, 0.7);
    border-radius: 100%;
}

.MiniDotActiv {
    width: 0;
    height: 0;
    margin: 0.1em;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 100%;
}

@keyframes Opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.CVIntro, .CVHome, .CVSchool, .CVWork {
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(0, 0, 0, 0.7);
    animation: Opacity 5s 0s forwards;
}

.CVChange {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    animation: Opacity 2s 0s forwards;
    margin-top: 1em;
}

.CVText {
    overflow-y: auto;
    height: 20em;
    margin-top: 1em;
}

.CVText::-webkit-scrollbar {
    width: 6%;
}

.CVText::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px teal;
    border: 3px solid transparent;
    border-radius: 1em;
}


.off {
    display: none;
}